/ = @vessel.schedules.to_json
.row
  .col.s12
    .card
      .card-content
        h4.card-title data-id="#{@vessel.id}" data-date="#{Date.today}" = "#{@vessel.name} Schedules"
        #calendar

.fixed-action-btn.direction-top style=("bottom: 50px; right: 19px;") 
  = link_to new_vessel_schedule_path(@vessel), class: "btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow", title: 'Add Vessel'
    i.material-icons add

coffee:
  $(document).ready ->
    calendarEl = document.getElementById('calendar')
    calendar = new (FullCalendar.Calendar)(calendarEl,
      plugins: [
        'interaction'
        'dayGrid'
      ]
      defaultDate: $(".card-title").data('date')
      editable: false
      eventLimit: true
      slotEventOverlap: false
      events: '/vessels/' + $(".card-title").data('id') + '/feed'
    )
    calendar.render()
    return